
/**
* Colors for the main theme of the site
*/

// primary colors and it's variants
$primary: #785044;
$primary-light: #a8716f;
$primary-dark: #4a271d;
$primary-text: #fff;

// secondary color and it's variants
$secondary: #ffe5c4;
$secondary-light: #fffff7;
$secondary-dark: #cbb393;
$secondary-text: #000;