<!doctype html>
<html lang="hu">
<head>
	<meta charset="utf-8">
	<title><%= htmlWebpackPlugin.options.title %></title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<h1>Sitebuild-kickstarter is working!</h1>
	<p>Website is running on v<%= htmlWebpackPlugin.options.appVersion %>.</p>
	<!-- Site version: v<%= htmlWebpackPlugin.options.appVersion %>-->
</body>
</html>
